@import url(styles/Variables.css);

.form-container {
  width: auto;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid var(--c-ash-gray);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.form-input-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
}

.form-input-label {
  display: block;
  margin-bottom: 5px;
  color: var(--c-white);
}

.form-input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--c-ash-gray);
  border-radius: 5px;
  box-sizing: border-box;

  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.form-input-text:focus {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.form-input-select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--c-ash-gray);
  border-radius: 5px;
  box-sizing: border-box;
}

option:checked {
  background-color: var(--c-ash-gray);
}

.error {
  border: 1px solid var(--c-error);
  outline: var(--c-error);
}

.ok{
  border: 1px solid var(--c-correct);
  outline: var(--c-correct);
}

.form-link-container, .form-btn-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.form-btn-container {
  margin-top: 30px;
}

.form-link {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.form-btn{
  padding: 10px 18px;
  border: 2px solid var(--c-ash-gray);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--c-dark-slate-gray);
  color: var(--c-white);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.form-btn:hover {
  background-color: var(--c-white);
  color: var(--c-dark-slate-gray);
  border: 2px solid var(--c-dark-slate-gray);
  letter-spacing: 2px;
}

.error-msg {
  color: var(--c-error);
  font-size: 12px;
  margin-bottom: 5px;
  text-align: end;
  position: absolute;
  right: 0;
  top: -5px;
}
.ok-msg {
  color: var(--c-correct);
}

.error-container {
  margin-top: 20px;
  text-align: center;
  border: 1px solid var(--c-error);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.error-container > p {
  color: var(--c-error);
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

.inactive {
  visibility: hidden;
}

/* GrupoSection */
.checkboxGroup-container {
  position: absolute;
  visibility: hidden;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  border: 2px solid var(--c-ash-gray);
  border-radius: 5px;
  color: var(--c-white);
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: var(--c-charcoal);
}

.list-checkboxs {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px;
  border: 1px solid var(--c-ash-gray);
}

.form-chk{
  padding: 5px;
}

.active {
  visibility: visible;
}

.btn-slicer {
  position: absolute;
  visibility: visible;
  font-size: medium;
  top: -30px;
  left: -1px;
  background: transparent;
  border: 1px solid var(--c-ash-gray);
  color: var(--c-white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form-checkbox-container {
  margin: 5px;
}

.checkbox-section{
  margin: 10px;
}

.chk-section-title {
  margin: 0;
}