@import url('styles/Variables.css');

.usuarios-container {
  width: fit-content;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--c-ash-gray);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header-list{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--c-ash-gray);
  background-color: var(--c-dark-slate-gray);
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.header-list p{
  color: var(--c-white);
  border-right: 1px solid var(--c-ash-gray);
  text-align: center;
  padding: 0 50px;
}

.header-list p:last-child{
  border-right: none;
  position: relative;
}

.msg-info {
  color: var(--c-white)
}

.add-usuario{
  position: absolute;
  top: -16px;
  transform: translateX(-50%);
}

.add-usuario a{
  color: var(--c-white);
  text-decoration: underline;
}