@import url('styles/Variables.css');

.usuario-container {
  color: var(--c-white);
  width: max-content;
  height: 30px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--c-ash-gray);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.usuario-container p{
  border-right: 2px solid var(--c-ash-gray);
  text-align: center;
  padding: 5px 50px;
}

.usuario-container button{
  border: none;
  background: none;
  color: var(--c-white);
  text-decoration: underline;
  cursor: pointer;
  padding: 5px 10px;
}

.usuario-container button a{
  color: var(--c-white);
  text-decoration: underline;
}